<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @revenue_model.title %>
</p>

<%= link_to 'Edit', edit_revenue_model_path(@revenue_model) %> |
<%= link_to 'Back', revenue_models_path %>
